<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
<div class="field">
  <%= f.label :name %> <br />
  <%= f.text_field :name %><br />

  <%= f.label :email %> <br />
  <%= f.password_field :email %> <br />

  <%= f.label :password %> <br />
  <%= f.password_field :password %> <br />

  <%= f.label :password_confirmation, "Confirm" %> <br />
  <%= f.password_field :password_confirmation %> <br />
</div>

<div class="action">
  <%= f.submit "Create Account" %>
</div>
<% end %>

